<%= form_for(@snowdatum) do |f| %>
  <% if @snowdatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@snowdatum.errors.count, "error") %> prohibited this snowdatum from being saved:</h2>

      <ul>
      <% @snowdatum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :snowfall %><br>
    <%= f.number_field :snowfall %>
  </div>
  <div class="field">
    <%= f.label :snowdepth %><br>
    <%= f.number_field :snowdepth %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br>
    <%= f.number_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
