<p id="notice"><%= notice %></p>

<h1>Listing Snowdata</h1>

<table>
  <thead>
    <tr>
      <th>Snowfall</th>
      <th>Snowdepth</th>
      <th>Location</th>
      <th>Zipcode</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snowdata.each do |snowdatum| %>
      <tr>
        <td><%= snowdatum.snowfall %></td>
        <td><%= snowdatum.snowdepth %></td>
        <td><%= snowdatum.location %></td>
        <td><%= snowdatum.zipcode %></td>
        <td><%= snowdatum.date %></td>
        <td><%= link_to 'Show', snowdatum %></td>
        <td><%= link_to 'Edit', edit_snowdatum_path(snowdatum) %></td>
        <td><%= link_to 'Destroy', snowdatum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snowdatum', new_snowdatum_path %>
